@import url(../../styles/colors.css);

.badge__avatar {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.badge__icon {
  position: relative;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: var(--primary-light);
}

.badge__icon--counter {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  font-size: 0.8rem;
  background-color: var(--primary-dark);
  display: inherit;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
}

.badge__avatar--online {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--green-teal);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.badge__avatar--offline {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--tomato-red);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
