@import url(../../styles/colors.css);

.badge__avatar {
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.badge__icon {
  position: relative;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50%;
}

.badge__icon--red {
  background-color: var(--tomato-red-light);
}

.badge__icon--yellow {
  background-color: var(--squash-blossom-light);
}

.badge__icon--green {
  background-color: var(--green-teal-light);
}

.badge__icon--blue {
  background-color: var(--azraq-blue-light);
}

.badge__icon--pink {
  background-color: var(--jalapeno-red-light);
}

.badge__icon--counter {
  position: absolute;
  top: -15%;
  right: -15%;
  font-size: 1.2rem;
  display: inherit;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  /* height: 20px; */
  padding: 4px;
  border-radius: 40%;
  color: white;
}

.icon__counter--red {
  background-color: var(--tomato-red);
}

.icon__counter--yellow {
  background-color: var(--squash-blossom);
}

.icon__counter--green {
  background-color: var(--green-teal);
}

.icon__counter--blue {
  background-color: var(--azraq-blue);
}

.icon__counter--pink {
  background-color: var(--jalapeno-red);
}

.badge__avatar--online {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--green-teal);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.badge__avatar--offline {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--tomato-red);
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
