@import url(../../styles/colors.css);

.h1__typography,
.h2__typography,
.h3__typography,
.h4__typography,
.h5__typography,
.h6__typography,
.body1__typography,
.body2__typography,
.button__typography,
.caption__typography,
.overline__typography,
.icon__typography {
  padding: 0;
  margin: 0;
}

/*heading typography*/
.h1__typography {
  font-size: 4rem;
  text-align: center;
}
.h2__typography {
  font-size: 3rem;
  text-align: center;
}
.h3__typography {
  font-size: 2rem;
}
.h4__typography {
  font-size: 1rem;
}
.h5__typography {
  font-size: 0.8rem;
}
.h6__typography {
  font-size: 0.7rem;
}

/*mobile responsive heading*/
@media screen and (min-width: 320px) and (max-width: 414px) {
  .h1__typography {
    font-size: 2rem;
  }
  .h2__typography {
    font-size: 1.5rem;
  }
  .h3__typography {
    font-size: 1.2rem;
  }
  .h4__typography {
    font-size: 1rem;
  }
  .h5__typography {
    font-size: 0.8rem;
  }
  .h6__typography {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 414px) and (max-width: 834px) {
  .h1__typography {
    font-size: 2.5rem;
  }
  .h2__typography {
    font-size: 2rem;
  }
  .h3__typography {
    font-size: 1.8rem;
  }
  .h4__typography {
    font-size: 1.5rem;
  }
  .h5__typography {
    font-size: 1rem;
  }
  .h6__typography {
    font-size: 0.8rem;
  }
}

/*body typogrphy*/
.body1__typography {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.body2__typography {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

@media screen and (min-width: 320px) and (max-width: 834px) {
  .body1__typography {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .body2__typography {
    font-size: 0.6rem;
    line-height: 1rem;
  }
}

/*Subtitle typogrphy*/
.subtitle1__typography {
  font-size: 10px;
}

.subtitle2__typogrphy {
  font-size: 12px;
}

/*mobile responsive subtitle*/
@media screen and (min-width: 320px) and (max-width: 414px) {
}
@media screen and (min-width: 414px) and (max-width: 834px) {
}

/*Caption Typography*/
.caption__typography {
  font-size: 0.6rem;
}

.overline__typography {
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*mobile responsive subtitle*/
@media screen and (min-width: 320px) and (max-width: 414px) {
}
@media screen and (min-width: 414px) and (max-width: 834px) {
}

/*Button Typography*/
.button__typography {
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .button__typography {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 414px) and (max-width: 834px) {
  .button__typography {
    font-size: 1rem;
  }
}

/*typography color*/
.typography--white {
  color: var(--white);
}

.typography--black {
  color: var(--black);
}

.typography--red {
  color: var(--tomato-red);
}

.typography--green {
  color: var(--green-teal);
}

.typography--blue {
  color: var(--yue-guang-lan-blue);
}

.typography--yellow {
  color: var(--squash-blossom);
}

.typography--pink {
  color: var(--jalapeno-red);
}

/*Icon typography*/
.icon__typography {
  font-size: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .icon__typography {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 414px) and (max-width: 834px) {
  .icon__typography {
    font-size: 1.5rem;
  }
}
