@import url(../../styles/colors.css);

.h1__typography,
.h2__typography,
.h3__typography,
.h4__typography,
.h5__typography,
.h6__typography,
.body1__typography,
.body2__typography,
.button__typography,
.caption__typography,
.overline__typography {
  padding: 0;
  margin: 0;
}

.h1__typography {
}
.h2__typography {
}
.h3__typography {
}
.h4__typography {
}
.h5__typography {
}
.h6__typography {
}

.body1__typography {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.body2__typography {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.caption__typography {
  font-size: 0.6rem;
}

.overline__typography {
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*Button Typography*/
.button__typography {
  font-size: 1.2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .button__typography {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 414px) and (max-width: 834px) {
  .button__typography {
    font-size: 1rem;
  }
}

/*typography color*/
.typography--white {
  color: var(--white);
}

.typography--black {
  color: var(--black);
}

.typography--red {
  color: var(--tomato-red);
}

.typography--green {
  color: var(--green-teal);
}

.typography--blue {
  color: var(--yue-guang-lan-blue);
}

.typography--yellow {
  color: var(--squash-blossom);
}

.typography--pink {
  color: var(--jalapeno-red);
}

/*Icon typography*/
.icon__typography {
  font-size: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .icon__typography {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 414px) and (max-width: 834px) {
  .icon__typography {
    font-size: 1.5rem;
  }
}
