@import url(../styles/colors.css);
@import url(../styles/icon.css);

.card__flexcolumn {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__flexrow {
  display: flex;
  position: relative;
  flex-direction: row;
}

/*Sizes for card horizontal*/
.card__flexcolumn--lg {
  width: 25rem;
}

.card__flexcolumn--md {
  width: 20rem;
}

.card__flexcolumn--sm {
  width: 15rem;
}

/*Sizes for card vertical*/
.card__flexrow--lg {
  height: 12rem;
  max-width: 40rem;
  font-size: 1.2rem;
}

.card__flexrow--md {
  height: 10rem;
  max-width: 30rem;
  font-size: 0.8rem;
}

.card__flexrow--sm {
  height: 8rem;
  max-width: 20rem;
  font-size: 0.5rem;
}

.card__flexcolumn--headingoverlay {
  position: absolute;
  bottom: 1rem;
  left: 0;
  color: white;
}

.card__flexrow--headingoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
}

/*
for grouping heading and image in one container 
having relative postitioning in vertical align
*/
.container {
  position: relative;
}

.title {
  font-size: 1.3rem;
  font-weight: 800;
  padding: 0 var(--paddling-text);
}

.subtitle {
  font-size: 1rem;
  font-weight: 300;
  padding: 0 var(--paddling-text);
}

/*image fit in vertical and horizontal cards*/
.image--fitheight {
  height: 100%;
}

.image--fitwidth {
  width: 100%;
}

/*dismiss button positioning*/
.dismiss__flexcolumn--position {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  margin: var(--padding-general);
  color: white;
}

.dismiss__flexrow--position {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 2px;
}

/* Text only cards */
.card--text-only {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 2rem;
}

.card__text-only--dismiss--position {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-right: 2rem;
}

.card__textonly--title {
  font-size: 2rem;
  font-weight: 700;
}

.card__textonly--subtitle {
  font-size: 1.2rem;
  font-weight: 500;
}

/* shadow */
.card--shadow {
  box-shadow: rgb(131, 131, 131) 5px 5px 10px;
}