.alert-box {
  padding: 0.8rem;
  text-align: center;
}

.red {
  color: rgb(139, 0, 0);
  background-color: rgb(243, 212, 212);
}

.green {
  color: rgb(0, 94, 0);
  background-color: rgb(195, 255, 195);
}

.yellow {
  color: rgb(145, 145, 3);
  background-color: rgb(255, 255, 206);
}

.blue {
  color: rgb(0, 0, 104);
  background-color: rgb(204, 204, 255);
}

.sm {
  font-size: 1rem;
}

.md {
  font-size: 1.5rem;
}

.lg {
  font-size: 2rem;
}
