@import url(../styles/colors.css);

.button__solid {
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button--sm {
  height: 2rem;
  padding: 1rem;
  font-size: 1.2rem;
}

.button--md {
  height: 2.5rem;
  padding: 1.2rem;
  font-size: 2rem;
}

.button--lg {
  height: 3rem;
  padding: 1.5rem;
  font-size: 2.5rem;
}

.button--green {
  background-color: var(--green-teal);
}

.button--red {
  background-color: var(--tomato-red);
}

.button--blue {
  background-color: var(--info-dark);
}

.button__outline {
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__outline--red {
  border: var(--tomato-red) 0.05rem solid;
  background-color: var(--tomato-red-light);
  color: var(--tomato-red);
}

.button__outline--green {
  border: var(--green-teal) 0.05rem solid;
  background-color: var(--green-teal-light);
  color: var(--green-teal);
}

.button__outline--blue {
  border: var(--info-dark) 0.05rem solid;
  background-color: var(--info-dark-light);
  color: var(--info-dark);
}

.button__floating {
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button__floating--sm {
  height: 2rem;
  font-size: 1rem;
}
.button__floating--md {
  height: 3rem;
  font-size: 1.5rem;
}
.button__floating--lg {
  height: 4rem;
  font-size: 2rem;
}
