.fit-image {
  display: inline-block;
}

.sm-avatar {
  height: 2rem;
  width: 2rem;
}

.md-avatar {
  height: 4rem;
  width: 4rem;
}

.lg-avatar {
  height: 6rem;
  width: 6rem;
}

.round {
  border-radius: 4rem;
}

.square {
  border-radius: none;
}

.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
